body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.game-container {
    align-content: center;
    height: 100%;
}

button {
    border: 1px solid yellow;
    height: 200px;
    width: 200px;
}

#rock {
    background-color: aquamarine;
}

#paper {
    background-color: chocolate;
}

#scissors {
    background-color: crimson;
}

#score {
    padding-top: 30px;
    font-size: large;
    color: red;
    justify-self: center;
}