body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
    
}

.game-container {
    align-content: center;
    height: 100%;
}

button {
    border: 1px solid yellow;
    height: 200px;
    width: 200px;
}

#rock {
    background-color: aquamarine;
}

#paper {
    background-color: chocolate;
}

#scissors {
    background-color: crimson;
}

.game-score {
    display: flex;
    width: 300px;
    justify-content: space-around;
    padding-top: 30px;
    font-size: 30px;
    color: red;
    justify-self: center;
}

.score {
    justify-self: center;
}

.winner {
    padding-top: 20px;
    color: green;
    justify-self: center;
}
